<h1>Register of users</h1>
  <p>Insert all your information</p>

<mat-card title="Data">
  <form>
    <input matInput placeholder="Nombre" #nombre maxlength="80" name="Name" required>
    <input matInput placeholder="Cdeula" type="email"  name="Cedula" required>
    <input matInput placeholder="Teléfono" #tel type="tel"  name="Phone" maxlength="10" required>
    <input matInput placeholder="Direccion" #asunto maxlength="60"  name="Direction">
    <button >Register</button>
  </form>
</mat-card>
