<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Graphic destination</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <h1 text-center> Select your destination</h1>

      <div id="floating-panel">
        <b>From: </b>
          <select [(ngModel)]="start" name="address" class="custom-select" id="start" (change)="calculateAndDisplayRoute()">
              <option *ngFor="let a of address" [ngValue]="a">{{a.address}}</option> </select><br>
        <b>To: </b>
          <select [(ngModel)]="end" name="address" class="custom-select" id="end" (change)="calculateAndDisplayRoute()">
              <option *ngFor="let a of address" [ngValue]="a">{{a.address}}</option> </select>
      </div>
  </ion-card>

    <div class="p" #map id="map"></div>
</ion-content>


<!-- 3: Circle https://stackblitz.com/edit/angular-google-maps-demo?file=app%2Fapp.component.ts

      3.1 Ionic Native https://es.slideshare.net/MasashiKatsumata/ionic-nativegooglemaps-81563234
      3.2 Ionic circle native https://github.com/mapsplugin/cordova-plugin-googlemaps-doc/blob/master/v1.4.0/class/Circle/README.md
      -->
