
<body>

  <h1 align="center">Select your destination</h1>

    <div id="floating-panel">
      <b>From: </b>
      <select [(ngModel)]="start" name="address" class="custom-select" id="start" (change)="calculateAndDisplayRoute()">
          <option *ngFor="let a of address" [ngValue]="a">{{a.address}}</option>
      </select><br>
      <b>To: </b>
      <select [(ngModel)]="end" name="address" class="custom-select" id="end" (change)="calculateAndDisplayRoute()">
          <option *ngFor="let a of address" [ngValue]="a">{{a.address}}</option>
      </select>
    </div>
    <div #map id="map"></div>

</body>
